*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  letter-spacing: 0.8em;
}

button {
  cursor: pointer;
  border: none;
  -webkit-box-flex: 2;
  -ms-flex: 2 1 65px;
  flex: 2 1 65px;
  height: 50px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.24);
  outline: none;
  background-color: #f4ebe5;
}

button:hover {
  background-color: #e5cfc1;
}

button:nth-child(n + 5):nth-child(-n + 7),
button:nth-child(n + 13):nth-child(-n + 15) {
  background-color: #ece4de;
}

button:nth-child(n + 5):nth-child(-n + 7):hover,
button:nth-child(n + 13):nth-child(-n + 15):hover {
  background-color: #d9cabe;
}

button:nth-child(4n) {
  background-color: #cabab7;
  color: #f4ebe5;
}

button:nth-child(4n):hover {
  background-color: #b49e9a;
}

button:nth-child(8n) {
  background-color: #b8adac;
  color: #f4ebe5;
}

button:nth-child(8n):hover {
  background-color: #a09291;
}

button:last-child {
  font-size: 25px;
  background-color: #988d8d;
  color: #f4ebe5;
}

button:last-child:hover {
  background-color: #7f7373;
}

.main {
  background-color: #e3e9e3;
  font-family: 'Roboto', sans-serif;
  color: #abacb4;
  font-size: 18px;
  line-height: 21px;
  height: 100vh;
}

.main-section {
  max-width: 900px;
  height: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-title {
  text-align: center;
  margin-top: 170px;
  width: 50%;
}

.main-calc {
  width: 342px;
  margin-right: 60px;
  background-image: url('../img/phone-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (max-width: 768px) {
  .main-title {
    display: none;
  }
  .main-section {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-calc {
    margin-right: 0;
  }
}

@media (max-width: 342px) {
  .main-calc {
    background-image: none;
  }
}

.calc {
  position: relative;
}

.calc-wrapper {
  position: absolute;
  bottom: 0;
  left: 11%;
  width: 268px;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
  background-color: #a09595;
  border: solid 1px black;
}

.calc-display {
  height: 215px;
  background-image: url('../img/StatusBar.png');
  background-repeat: no-repeat;
  top: 0;
  padding: 33px 12px;
  color: #fff5ee;
  font-weight: 300;
  font-size: 30px;
  line-height: 64px;
  text-align: right;
  overflow: hidden;
}

.calc-display__curr {
  font-size: 60px;
}

.calc-display__prev {
  height: 60px;
}

.calc-buttons {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 342px) {
  .calc-wrapper {
    left: 7%;
    top: 30px;
    max-width: 85%;
  }
}
/*# sourceMappingURL=style.css.map */
