.calc {
  position: relative;
  &-wrapper {
    position: absolute;
    bottom: 0;
    left: 11%;
    width: 268px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    background-color: #a09595;
    border: solid 1px black;
  }
  &-display {
    height: 215px;
    background-image: url('../img/StatusBar.png');
    background-repeat: no-repeat;
    top: 0;
    padding: 33px 12px;
    color: #fff5ee;
    font-weight: 300;
    font-size: 30px;
    line-height: 64px;
    text-align: right;
    overflow: hidden;
    &__curr {
      font-size: 60px;
    }
  }
  &-buttons {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 342px) {
  .calc-wrapper {
    left: 7%;
    top: 30px;
    max-width: 85%;
  }
}
