.main {
  background-color: #e3e9e3;

  font-family: 'Roboto', sans-serif;
  color: #abacb4;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.8em;
  height: 100vh;
  &-section {
    max-width: 900px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &-title {
    text-align: center;
    margin-top: 170px;
    width: 50%;
  }
  &-calc {
    width: 342px;
    margin-right: 60px;
    background-image: url('../img/phone-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}
@media (max-width: 768px) {
  .main-title {
    display: none;
  }
  .main-section {
    justify-content: center;
  }
  .main-calc {
    margin-right: 0;
  }
}
@media (max-width: 342px) {
  .main-calc {
    background-image: none;
  }
}
